# Node.js dependencies
node_modules/

# Python bytecode and virtual environments
__pycache__/
*.py[cod]
.venv/

# Docker-related files
docker-compose.override.yml
docker-compose.override.yaml
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

#specific
frontend/build